<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>Sweet Home 3D 4.0 Copyright 2007-2013 eTeks</string>
	<key>CFBundleVersion</key>
	<string>4.0</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>SweetHome3DLauncher</string>
	<key>CFBundleIconFile</key>
	<string>SweetHome3D.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.eteks.sweethome3d.SweetHome3D</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sweet Home 3D</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>SH3D</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>

	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.eteks.sweethome3d.SweetHome3D</string>
			<key>UTTypeReferenceURL</key>
	 		<string>http://www.sweethome3d.com/</string>
			<key>UTTypeDescription</key>
			<string>Sweet Home 3D Document</string>
			<key>UTTypeIconFile</key>
			<string>SweetHome3DDocument.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SH3D</string>
				<key>public.filename-extension</key>
				<array>
					<string>sh3d</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.eteks.sweethome3d.SweetHome3DLanguageLibrary</string>
			<key>UTTypeReferenceURL</key>
	 		<string>http://www.sweethome3d.com/</string>
			<key>UTTypeDescription</key>
			<string>Sweet Home 3D Language Library</string>
			<key>UTTypeIconFile</key>
			<string>SweetHome3DLanguageLibrary.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SH3L</string>
				<key>public.filename-extension</key>
				<array>
					<string>sh3l</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.eteks.sweethome3d.SweetHome3DFurnitureLibrary</string>
			<key>UTTypeReferenceURL</key>
	 		<string>http://www.sweethome3d.com/</string>
			<key>UTTypeDescription</key>
			<string>Sweet Home 3D Furniture Library</string>
			<key>UTTypeIconFile</key>
			<string>SweetHome3DFurnitureLibrary.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SH3F</string>
				<key>public.filename-extension</key>
				<array>
					<string>sh3f</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.eteks.sweethome3d.SweetHome3DTexturesLibrary</string>
			<key>UTTypeReferenceURL</key>
	 		<string>http://www.sweethome3d.com/</string>
			<key>UTTypeDescription</key>
			<string>Sweet Home 3D Textures Library</string>
			<key>UTTypeIconFile</key>
			<string>SweetHome3DTexturesLibrary.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SH3T</string>
				<key>public.filename-extension</key>
				<array>
					<string>sh3t</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.eteks.sweethome3d.SweetHome3DPlugin</string>
			<key>UTTypeReferenceURL</key>
	 		<string>http://www.sweethome3d.com/</string>
			<key>UTTypeDescription</key>
			<string>Sweet Home 3D Plugin</string>
			<key>UTTypeIconFile</key>
			<string>SweetHome3DPlugin.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SH3P</string>
				<key>public.filename-extension</key>
				<array>
					<string>sh3p</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.eteks.sweethome3d.SweetHome3D</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SweetHome3DDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sweet Home 3D Format</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.eteks.sweethome3d.SweetHome3DLanguageLibrary</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SweetHome3DLanguageLibrary.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sweet Home 3D Language Library Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.eteks.sweethome3d.SweetHome3DFurnitureLibrary</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SweetHome3DFurnitureLibrary.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sweet Home 3D Furniture Library Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.eteks.sweethome3d.SweetHome3DTexturesLibrary</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SweetHome3DTexturesLibrary.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sweet Home 3D Textures Library Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.eteks.sweethome3d.SweetHome3DPlugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SweetHome3DPlugin.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sweet Home 3D Plugin Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>

	<!-- JavaAppLauncher arguments for Java 7 -->
	<key>JVMRuntime</key>
	<string>../../../jre/macosx/jre7</string>	
	<key>JVMMainClassName</key>
	<string>com.eteks.sweethome3d.SweetHome3D</string>
	<key>JVMOptions</key>
	<array>
		<string>-Xmx1024m</string>
		<string>-cp</string>
		<string>$APP_ROOT/../lib/SweetHome3D.jar:$APP_ROOT/../lib/Furniture.jar:$APP_ROOT/../lib/Textures.jar:$APP_ROOT/../lib/Help.jar:$APP_ROOT/../lib/freehep-vectorgraphics-svg-2.1.1.jar:$APP_ROOT/../lib/sunflow-0.07.3g.jar:$APP_ROOT/../lib/Loader3DS1_2u.jar:$APP_ROOT/../lib/batik-svgpathparser-1.7.jar</string>
		<string>-Djava.ext.dirs=$APP_ROOT/../lib/ext/macosx/java3d-1.6:$APP_ROOT/../lib/ext:$APP_ROOT/../jre/macosx/jre7/Contents/Home/jre/lib/ext</string>
		<string>-Djava.library.path=$APP_ROOT/../lib/ext/macosx/java3d-1.6</string>
		<string>-Djogamp.gluegen.UseTempJarCache=false</string>
		<string>-Dsweethome3d.bundle=true</string>
		<string>-Dcom.eteks.sweethome3d.j3d.useOffScreen3DView=true</string>
		<string>-Dcom.eteks.sweethome3d.preferencesFolder=$APP_ROOT/../data</string>
		<string>-Dcom.eteks.sweethome3d.applicationFolders=$APP_ROOT/../data</string>
		<string>-Dcom.eteks.sweethome3d.deploymentInformation=portable Java 3D 1.6 pre5 / JOGL 2.0 rc11</string>
		<string>-Dcom.eteks.sweethome3d.applicationId=SweetHome3D#Portable</string>
	</array>
</dict>
</plist>
